<h2 mat-dialog-title>{{data.action}} User Details</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="userDetailsForm">
    <div class="d-flex flex-column">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="john Lee" formControlName="name">
      <mat-error>Required Field</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>User Name</mat-label>
      <input matInput placeholder="john.lee" formControlName="userName">
      <mat-error>Required Field</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Department</mat-label>
      <input matInput placeholder="sales" formControlName="Department">
      <mat-error>Required Field</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Employee No.</mat-label>
      <input matInput placeholder="1233" formControlName="empCode">
      <mat-error>Required Field</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Location</mat-label>
      <input matInput placeholder="Pune" formControlName="location">
      <mat-error>Required Field</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Reporting Person </mat-label>
      <input matInput placeholder="Pune" formControlName="ReportingPerson">
      <mat-error>Required Field</mat-error>
    </mat-form-field>
  </div>
  </form>
</mat-dialog-content>
  <mat-dialog-actions class="d-flex justify-content-end">
    <button mat-raised-button mat-dialog-close> Cancel</button>
    <button mat-raised-button color="primary" class="mx-4"  (click)="submit()" cdkFocusInitial [disabled]="submitted">{{data.action}} User
       <mat-icon *ngIf="submitted">
        <mat-spinner diameter="20">
    </mat-spinner>
  </mat-icon></button>
  </mat-dialog-actions>